<script type="text/javascript">
  var stylesheet = document.createElement('link');
  stylesheet.href = '{{ root_url }}/stylesheets/screen.css';
  stylesheet.rel = 'stylesheet';
  stylesheet.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(stylesheet);
</script>
<script type="text/javascript">
  var stylesheet = document.createElement('link');
  stylesheet.href = '{{ root_url }}/stylesheets/data-table.css';
  stylesheet.rel = 'stylesheet';
  stylesheet.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(stylesheet);
</script>