<link rel="preload" href="{{ site.static_base }}/assets/stylesheets/screen.css" as="style"
  onload="this.onload=null;this.rel='stylesheet'">
<link rel="stylesheet" href="{{ site.static_base }}/assets/stylesheets/screen.css">

<script src="{{ site.static_base }}/assets/javascripts/app.js" defer></script>

<script>
  (function () {
    window.lazyLoadOptions = {
      threshold: 0
    };
  })();
</script>
<script defer>
  document.addEventListener("DOMContentLoaded", (event) => {
    if ($('body').hasClass('no-sidebar')) {
      $('.sidenote').hide();
      $('.marginnote').hide();
    }

    if (!$('body').hasClass('sidebar-footer')) {
      $('#content').append('<span class="toggle-sidebar"></span>');
      $('.toggle-sidebar').bind('click', function (e) {
        e.preventDefault();
        if ($('body').hasClass('collapse-sidebar')) {
          $('body').removeClass('collapse-sidebar');
          $('.sidenote').show();
          $('.marginnote').show();
        } else {
          $('body').addClass('collapse-sidebar');
          $('.sidenote').hide();
          $('.marginnote').hide();
        }
      });
    } else {
      $('.sidenote').hide();
      $('.marginnote').hide();
    }
    var sections = $('aside.sidebar > section');
    if (sections.length > 1) {
      sections.each(function (section, index) {
        if ((sections.length >= 3) && index % 3 === 0) {
          $(section).addClass("first");
        }
        var count = ((index + 1) % 2) ? "odd" : "even";
        $(section).addClass(count);
      });
    }
    if (sections.length >= 3) { $('aside.sidebar').addClass('thirds'); }
  });
</script>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline-meta.css" />

<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
  const locale = {
    placeholder: '欢迎留言，上面这些不填，你就是匿名的～',
  };
  init({
    el: '#vcomments',
    serverURL: 'https://comments.lenciel.com',
    path: '{{ page.url }}',
    avatar: 'mp',
    meta: ['nick', 'mail', 'link'],
    requiredMeta: [],
    noRss: true,
    noCopyright: true,
    imageUploader: false,
    search: false,
    lang: 'zh-CN',
    highlight: true,
    locale,
  });
</script>