<link rel=“preload” href=“{{ site.static_base }}/assets/fonts/CWlc_g68BGYDSGdpJvpktgLUuEpTyoUstqEm5AMlJo4.woff2” as=“font” async>
<link rel=“preload” href=“{{ site.static_base }}/assets/fonts/0XxGQsSc1g4rdRdjJKZrNAzyDMXhdD8sAj6OAJTFsBI.woff2” as=“font” async>
<link rel=“preload” href=“{{ site.static_base }}/assets/fonts/yAXhog6uK3bd3OwBILv_SJBw1xU1rKptJj_0jans920.woff2” as=“font” async>
<link rel=“preload” href=“{{ site.static_base }}/assets/fonts/YDAoLskQQ5MOAgvHUQCcLWjF_m7mVnhXExjNED3rUtY.woff2” as=“font” async>
<link rel=“preload” href=“{{ site.static_base }}/assets/fonts/YDAoLskQQ5MOAgvHUQCcLaa0P60JZGaCMFbL3N9v4H0.woff2” as=“font” async>

<script type="text/javascript">
  var stylesheet = document.createElement('link');
  stylesheet.href = '{{ site.static_base }}/assets/stylesheets/screen.css';
  stylesheet.rel = 'stylesheet';
  stylesheet.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(stylesheet);
</script>
<script>
  (function() {
    window.lazyLoadOptions = {
      threshold: 0
  };
})();
</script>
<script src="{{ site.static_base }}/assets/javascripts/app.js" async></script>
