{% if page.title %}<meta property="og:title" content="{{ page.title }}" /><meta itemprop="name" content="{{ page.title }}" />{% endif %}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ canonical }}" />
<meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:150 }}" />
{% if page.ogimage %}<meta property="og:image" content="{{ page.ogimage }}" /><meta itemprop="image" content="{{ page.ogimage }}" />{% endif %}
<meta property="og:site_name" content="{{ site.url }}" />
<meta property="article:author" content="http://lenciel.com">
{% if page.date %}<meta property="article:published_time" content="{{ page.date }}" />{% endif %}
{% capture category %}{% if page.categories %}{{ page.categories }}{% endif %}{% endcapture %}
{% if page.categories %}<meta property="article:section" content="{{ page.categories }}" />{% endif %}
<meta itemprop="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}" />
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% for keyword in page.keywords %}<meta property="article:tag" content="{{ keyword | replace: ',', '' }}" />{% endfor %}{% endif %}
<link rel=“preload” href=“{{ root_url }}/assets/fonts/CWlc_g68BGYDSGdpJvpktgLUuEpTyoUstqEm5AMlJo4.woff2” as=“font”>
<link rel=“preload” href=“{{ root_url }}/assets/fonts/0XxGQsSc1g4rdRdjJKZrNAzyDMXhdD8sAj6OAJTFsBI.woff2” as=“font”>
<link rel=“preload” href=“{{ root_url }}/assets/fonts/yAXhog6uK3bd3OwBILv_SJBw1xU1rKptJj_0jans920.woff2” as=“font”>
<link rel=“preload” href=“{{ root_url }}/assets/fonts/YDAoLskQQ5MOAgvHUQCcLWjF_m7mVnhXExjNED3rUtY.woff2” as=“font”>
<link rel=“preload” href=“{{ root_url }}/assets/fonts/YDAoLskQQ5MOAgvHUQCcLaa0P60JZGaCMFbL3N9v4H0.woff2” as=“font”>
<link rel="preload" href="{{ root_url }}/assets/stylesheets/app.css" as="style">
<link rel="preload" href="{{ root_url }}/assets/javascripts/app.js" as="script">