$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 18px;
$mod_1: 1.2; // mobile
$mod_2: 1.4; // desktop

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }

  @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
          font-size: $max-font-size;
        }
      }
    }
  }

body > header h1 {
    font-size: $mod_1*$mod_1*$mod_1*$mod_1*1.2 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*1.2 *$min_font, $mod_2*$mod_2*$mod_2*1.2 *$max_font);
}
h1 {
    font-size: $mod_1*$mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$min_font, $mod_2*$mod_2*1.2*$min_font);
  }
h2, section h1 {
font-size: $mod_1*$mod_1*$mod_1 *1rem;
@include fluid-type($min_width, $max_width, $mod_1*$mod_1*1.1 *$min_font, $mod_2*$mod_2*1.1 *$min_font);
}
h3, section h2, section section h1 {
font-size: $mod_1*$mod_1 *1rem;
@include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}
h4, section h3, section section h2, section section section h1 {
    font-size: $mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
}

h5, section h4, section section h3 {
    font-size: $mod_1* 0.95 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1* 0.95 *$min_font, $mod_2* 0.9 *$min_font);
}
h6, section h5, section section h4, section section section h3 {
    font-size: $mod_1* 0.85 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1* 0.85 *$min_font, $mod_2* 0.8 *$min_font);
}