// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Import
@import "icomoon";
@import "footnotes";
@import "sidenotes";
@import "tablestyle";
@import "background";
@import "header";
@import "navigation";
@import "article";
@import "footer";
@import "resfont";

// Main layout
html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  body > div > div {
    border-right: none;
  }

  audio {
    width:100%;
  }

  ::selection {
    color: hsl(0, 0, 100%);
    background: hsl(0, 0, 0); /* Safari */
    }
  ::-moz-selection {
    color: hsl(0, 0, 100%);
    background: hsl(0, 0, 0); /* Firefox */
  }
}

// Responsive design
@media only screen and (min-width: 1037px) {
  body > nav {
    @include border-top-radius(.4em);
  }

  body > footer {
    @include border-bottom-radius(.4em);
  }
}

@media only screen and (min-width: 550px) {
  body > header > hgroup {
    section div#banner {
      display: none;
    }
  }
}

// the divider between links in navigator
@media only screen and (min-width: 992px) {
  .divider {
    height: 48px; /* this */
    margin: -.57em 0em 0em 0em;  /* pulls the border to the top of the header */
  }
}

@media only screen and (max-width: 992px) {
  .divider {
    height: 42px; /* this */
    margin: -.57em 0em 0em 0em;  /* pulls the border to the top of the header */
  }
}

@media only screen and (max-width: 768px) {
  .divider {
    height: 40px;
    margin: -.53em 0 0 0;
  }
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
      display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
      display: block;
      float: left;
      font-size: 0.9em;
      clear: both;
      width: 90%;
      margin: 1rem 5%;
      position: relative;
  }

  label.margin-toggle.sidenote-number::after {
    content: "\1f4a1";
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
  }

  .margin-toggle:checked + .sidenote:before {
    content: "\1F4DC";
    font-size: 1rem;
    top: -0.1rem;
    left: -0.4rem;
  }
}

* + table {
  @include fluid-type($min_width, $max_width, $min_font - 2, $max_font - 2);
}
