// table style
* + table
{
  margin-bottom: 1.5em;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
* + table th
{
  text-align: left;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe url('../images/gradhead.png') repeat-x;
  border-top: 2px solid #d3ddff;
  border-bottom: 1px solid #fff;
  color: #039;
}
* + table td
{
  padding: 8px;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid #fff;
  background: #e8edff url('../images/gradback.png') repeat-x;
}
* + table tfoot tr td
{
  background: #e8edff;
  color: #99c;
}
* + table tbody tr:hover td
{
  background: #d0dafd url('../images/gradhover.png') repeat-x;
  color: #339;
}
